@import "variables.scss";

// Textes
    // Titres
    @mixin h1{
        margin: 20px;
        text-align: center;
        font-family: $font_titre;
        color: $red;
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    @mixin h2{
        font-family: $font_titre;
        font-weight: 700;
        font-size: 15px;
        margin: 30px 0 10px 10px;
        color: $grey;
    }

// Boutons
    // Bouton rouge
    @mixin button_grey{
        background-color: $grey;
        color: white;
        font-family: $font_titre;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 20px;
    }

    // Bouton rouge
    @mixin button_red{
        background-color: $red;
        color: white;
        font-family: $font_titre;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 20px;
    }